# Ignore node_modules
node_modules/

# Ignore build folders
dist/
build/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore cache folders
.cache/
.next/
out/

# Ignore OS files
.DS_Store
Thumbs.db
